body {
	background-color: lightgrey;
	display: flex;
}

header {
	text-align: center;
	margin: 0 auto;
}

nav {

}

ul {

}

li {

}

aside {
	order: 5;
}

footer {

}

#sidenav {

}

#content {
	flex-grow: 1;
	background-color: ;

}